{
  "extends": ["alexandernanberg", "alexandernanberg/typescript"],
  "parserOptions": {
    "babelOptions": {
      "presets": ["@babel/preset-env", "@babel/preset-react"]
    }
  },
  "rules": {
    "react/no-unknown-property": "off"
  },
  "ignorePatterns": ["node_modules", "dist"]
}
