{
  "extends": ["alexandernanberg", "alexandernanberg/typescript"],
  "parserOptions": {
    "babelOptions": {
      "presets": ["@babel/preset-env", "@babel/preset-react"]
    }
  },
  "rules": {
    "@typescript-eslint/no-empty-interface": "off",
    "react/prop-types": "off"
  }
}
